apiVersion: v1
kind: Secret
metadata:
  name: {{ include "todo-backend.fullname" . }}-secrets
  labels:
    {{- include "todo-backend.labels" . | nindent 4 }}
type: Opaque
data:
  database_url: {{ .Values.secrets.database_url | quote }}
  better_auth_secret: {{ .Values.secrets.better_auth_secret | quote }}
  openai_api_key: {{ .Values.secrets.openai_api_key | quote }}
  jwt_secret: {{ .Values.secrets.jwt_secret | quote }}